* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial, sans-serif;
  display: none;
}

body h1 {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  text-decoration: underline;
}

.send-message {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 98%;
}

.send-message .m {
  border: 1px solid black;
}

.send-message input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.send-message button {
  width: 9%;
  background: rgba(255, 96, 82, 0.7);
  border: none;
  padding: 10px;
  text-align: center;
}

.messages {
  margin: 11;
  padding: 5px 10px;
  font-size: 20px;
  background-color: #f7f7f7;
  margin-bottom: 50;
}

body p {
  margin-left: 75px;
}

body .set {
  background: rgba(255, 96, 82, 0.7);
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
}

.usernameInput {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
  width: 150px;
  margin-left: 50px;
}

.system {
  color: grey;
  font-size: 15px;
}
